<label class="uploader" ondragover="return false;"
  [ngClass]="{ 'loaded': loaded, 'dragging': dragging }" 
  (dragenter)="handleDragEnter()"
  (dragleave)="handleDragLeave()"
  (drop)="handleDrop($event)">

  <i *ngIf="!imageLoaded" class="fa fa-user" [class.dragging]="dragging"></i>

  <img 
    [src]="imageSrc" 
    (load)="handleImageLoad()" 
    [class.loaded]="imageLoaded"/>

  <input type="file" name="file" accept="image/*"
    (change)="handleInputChange($event)">
    
</label>
<a *ngIf="imageLoaded" (click)="removeImage()"><i class="fa fa-times remove"></i></a>
