<nb-card>
  <toaster-container [toasterconfig]="toasterConfigService.getDefaultConfig()"></toaster-container>

  <nb-card-header>
    Listagem de Associados
  </nb-card-header>

  <nb-card-body>

    <div class="row">
      <div class="col-md-12">
          <a routerLink="/pages/associates/create" class="btn btn-primary btn-with-icon">
            <i class="fa fa-plus"></i>
            <span>Cadastrar Associado</span>
          </a>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-12">
        <ng2-smart-table 
          [settings]="settings" 
          [source]="source" 
          (edit)="goToDetails($event)"
          (delete)="deleteRecord($event)">
        </ng2-smart-table>
      </div>
    </div>

  </nb-card-body>
</nb-card>
